@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Raleway:800,700,400);
@import url(http://fonts.googleapis.com/css?family=Signika:400,600);

.hero_section {
    position: relative;
    padding-top: 72px;
    z-index: 5;
}

.hero_section {
    position: relative;
    padding-top: 10px;
}

.card {
    padding-top: 20px;
    margin: 10px 0 20px 0;
    background-color: rgba(214, 224, 226, 0.2);
    border-top-width: 0;
    border-bottom-width: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
    
.card.hovercard {
    position: relative;
    padding: 0;
    overflow: hidden;
    text-align: center;
    background-color: #03A9F4;
    margin: 0;
}
    
.card.hovercard .cardheader {
    /* background: url("http://lorempixel.com/850/280/nature/4/"); */
    background-size: cover;
    height: 210px;
    background: #0797d8;
}
    
.card.hovercard .avatar {
    position: relative;
    top: -80px;
    width: 150px;
    height: 150px;
    max-width: 150px;
    max-height: 150px;
    right: 0px;
    left: 0px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.5);
}
    
.card.hovercard .avatar img {
    width: 165px;
    height: auto;
    max-width: 165px;
    margin-left: -11px;
}
    
.card.hovercard .info {
    padding: 0 8px 22px;
    top: -50px;
    position: relative;
}

.card.hovercard .info .title {
    margin-bottom: 10px;
    font-size: 26px;
    line-height: 1;
    color: #ffffff;
    vertical-align: middle;
}

.card.hovercard .info .title a{ 
    color: #ffffff;
}

.card.hovercard .info .desc {
    overflow: hidden;
    font-size: 14px;
    line-height: 22px;
    color: rgba(255, 255, 255, 0.77);
    text-overflow: ellipsis;
}

.card.hovercard .info .desc b{
    color: #00608b;
}

.card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 70px;
}


#filters {
    margin-top: 10px;
    margin-bottom: 40px;
    text-align: center;
    display: block;
    float: none;
    z-index: 2;
    position: relative;
}
#filters ul{
    padding-left:0px;
}
    

#filters ul li {
    display: inline-block;
    margin: 0 5px;
}

#filters ul li a {
    display: block;
}

#filters ul li a h5 {
    background: none repeat scroll 0 0 #f7f7f7;
    border-radius: 0;
    display: inline-block;
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 5px;
    padding: 10px 22px;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out 0s;
    background: transparent;
    border: #2b2b2b solid 1px;
    color: #2b2b2b;
}

#filters ul li a:hover h5, #filters ul li a.active h5 {
    background: #2b2b2b;
    color: #03a9f4;
    text-decoration: none;
    border: #2b2b2b solid 1px;
}

 
ul {
    list-style: none;
}

.figure {
    margin: 0px;
}

img {
    max-width: 100%;
}

a, a:hover, a:active {
    outline: 0px !important;
	text-decoration:none;
}
.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}
.clearfix:before,
.clearfix:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

.clearfix:after {
    clear: both;
} 

body {
    background: #232323;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #888888;
    margin: 0;
}

h6 {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.71);
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-align: center;
    margin: 0 0 60px 0;
    line-height: 28px;
}

p {
    line-height: 24px;
    margin: 0;
}
